
	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}

	body, html {
		height: 100%;
	}

	body {
		margin: 0;
		font-family: Helvetica, sans-serif;
	}

	.check {
		display: none;
	}

	#container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	#isLoggedIn:checked ~ #container .isLoggedIn.show {	display: block; }
	#isLoggedIn:checked ~ #container .isLoggedOut.show {	display: none; }
	#isLoggedIn:not(:checked) ~ #container .isLoggedIn.show { display: none; }
	#isLoggedIn:not(:checked) ~ #container .isLoggedOut.show { display: block; }

	#isLoggedIn:checked ~ #container .isLoggedIn.fade {	opacity: 1; }
	#isLoggedIn:checked ~ #container .isLoggedOut.fade { opacity: 0; }
	#isLoggedIn:not(:checked) ~ #container .isLoggedIn.fade { opacity: 0; }
	#isLoggedIn:not(:checked) ~ #container .isLoggedOut.fade { opacity: 1; }

	.fade { transition: opacity .2s; }
	.click { cursor: pointer; }

	#isLoggedIn:checked ~ #container nav { height: 50px; }
	nav {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 80%;
		background-color: #3B3355;
		z-index: 2;
		transition: height .2s;
		color: #FEFCFD;
		text-align: center;
		border-bottom: 5px solid #5D5D81;
		overflow: hidden;
	}

	nav > #smallheadline {
		position: absolute;
		top: 0;
		left: 0;
	}

	nav > h1 {
		font-size: 100px;
		margin-bottom: 0;
		margin-top: 250px;
	}

	nav > h4 {
		font-size: 50px;
		margin-top: 0px;
		border-top: 6px solid white;
		padding-top: 10px;
	}

	nav > #smallheading, nav > #menu, nav > #logout {
	    position: absolute;
	    top: 0;
	    margin: 10px;
	}

	nav > #smallheading {
	    left: 65px;
	    line-height: 26px;
	    font-size: 20px;
	}

	nav > #menu {
	    left: 0;
	    border: 1px solid;
	    padding: 5px;
	    line-height: 15px;
	    font-size: 15px;
	}

	nav > #logout {
		position: absolute;
		top: 0;
		right: 0;
	    line-height: 26px;
	    font-size: 20px;
	    color: inherit;
	    text-decoration: none;
	}

	main {
		position: absolute;
		top: 50px;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #FEFCFD;
	}