<form method="POST" action="<%= Andromeda.Router.Helpers.fleet_path(Andromeda.Endpoint, :create) %>">
	<input type="text" name="name" placeholder="Fleet Name" />
	<input type="submit" value="CREATE" />
</form>
<script type="text/javascript">
	isLoggedIn = <%= if is_authed?(@conn) do %>true<% else %>false<% end %>;
</script>